@page "/openedMatches"

@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Authentication.Cookies
@using FrontEnd.ViewModel

@attribute [Authorize]

@inject HttpClient httpClient

<div class="match-container">
    @if(openedMatchesList is null) {
        <h3>Betöltés...</h3>
    } else {
        @if(openedMatchesList.Count == 0) {
            <h3>Nincsenek nyitott mérkőzések</h3>
        } else {
                <h3>Nyitott mérkőzések</h3>
                <table>
                    <tr>
                            <th>Hazai csapat</th>
                            <th>Vendég csapat</th>
                            <th>Kezdés</th>
                            <th></th>
                    </tr>
                    @foreach(var match in openedMatchesList) {
                        <tr>
                            <td style="word-break: break-all;">@match.HomeName</td>
                            <td style="word-break: break-all;">@match.GuestName</td>
                            <td>@match.Date.ToString("yyyy. MM. dd. hh:mm")</td>
                            <td><a href="@($"makeBet?matchId={match.Id}&contestId={contestId}&accessToken={accessToken}&prevPage=/allOpenedMatches")" class="btn btn-success">Tippelés</a></td>
                        </tr>
                    }
                </table>
        }

        <div class="mb-1 text-center">
            <span class="text-danger">@errorMessage</span>
        </div>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    private int contestId { get; set; }

    [CascadingParameter]
    public HttpContext httpContext { get; set; }

    private List<MatchVM> openedMatchesList = new();

    private string accessToken;
    private string errorMessage;

    protected override async Task OnInitializedAsync() {
        accessToken = httpContext.User.FindFirstValue("token");
        string userId = httpContext.User.FindFirstValue("id");

        httpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", accessToken);
        httpClient.DefaultRequestHeaders.Add("Accept", "application/json");

        openedMatchesList = await httpClient.GetFromJsonAsync<List<MatchVM>>($"api/contest/openedMatches/{contestId}/{userId}");
    }
}
